extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  //link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    .panel.panel-info
      .panel-heading
        //.container
        h1.text-center 账号管理
      .panel-body
        .col-sm-4.col-sm-offset-4.text-center
          h4 <strong>独立账号列表</strong>
        .col-sm-12
          hr
        table.table.table-condensed.table-striped
          thead
            td #
            td 账号名称
            td 分配权限
            td 可用状态
            td 删除账号
            td 重置密码
          each item, row in accounts
            tr
              td= row + 1
              td.account= item.username
              td= item.area + item.permission
              td
                if item.enabled
                  button.btn.btn-default.btn-xs.btn-success(type="button") 启 用
                else
                  button.btn.btn-default.btn-xs.btn-warning(type="button") 禁 用
              td
                if builtinUser == item.username
                  button.btn.btn-default.btn-xs.btn-danger.disabled(type="button") 不能删除
                else
                  button.btn.btn-default.btn-xs.btn-danger(type="button") 删 除
              td
                button.btn.btn-default.btn-xs.btn-info(type="button") 重 置

        .col-sm-4.col-sm-offset-4.text-center
          h4 <strong>添加/更新账号</strong>
        .col-sm-12
          br
        form(role="form", action="/account", method="POST")
          .col-sm-12
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 账号名称
                input.form-control(type="text", name="username", autofocus="autofocus", placeholder="输入账号名称", required="required")
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 可用状态
                select.form-control(name="status")
                  option(value='enable') 可用
                  option(value='disable') 禁用
          .col-sm-12
            br
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 登录密码
                input.form-control(type="password", name="password", placeholder="输入登录密码", required="required")
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 确认密码
                input.form-control(type="password", name="retryPassword", placeholder="再次输入相同登录密码", required="required")
          .col-sm-12
            br
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 访问权限
                select.form-control(name="permission")
                  option 所有权限
                  option 只读
                  option 管理员
            div(style="width: 50%; float: left;")
              .input-group
                span.input-group-addon 访问区域
                select.form-control(name="area")
                  optgroup(label="不限区域")
                    option(value="0")= districtName["0"]
                  each item, key in districtName[countyId]
                    optgroup(label=item)
                      option(value=key)= item + '整个乡镇'
                      each v, i in districtName[key]
                        option(value=i)= v

          .col-sm-6.col-sm-offset-3
            br
            button.btn.btn-block.btn-lg.btn-default.btn-primary(type="submit") 新增/更新账号

  script(src="/javascripts/account.js")