extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  //link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    form.panel.panel-info(role="form", action="/item", method="POST")
      .panel-heading
        //.container
        h1.text-center 劳动力资源登记表
      .panel-body
        .col-sm-9
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon &nbsp;&nbsp;&nbsp;姓 名&nbsp;&nbsp;&nbsp;
              input.form-control(type="text", name="username", autofocus="autofocus", placeholder="输入姓名", required="required")
          div(style="width: 40%; float: left;")
            .input-group
              span.input-group-addon 身份证号
              input.form-control(type="text", name="idNumber", placeholder="输入身份证号", required="required")
          div(style="width: 27%; float: left;")
            .input-group
              span.input-group-addon 民 族
              select.form-control(name="nation")
                each value, key in nations
                  option= value
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon &nbsp;&nbsp;&nbsp;年 龄&nbsp;&nbsp;&nbsp;
              input.form-control(type="text", name="age" readonly="readonly", tabindex="-1")
          div(style="width: 22%; float: left;")
            .input-group
              span.input-group-addon &nbsp;&nbsp;&nbsp;性 别&nbsp;&nbsp;&nbsp;
              input.form-control(type="text", name="gender", readonly="readonly", tabindex="-1")
          div(style="width: 45%; float: left;")
            .input-group
              span.input-group-addon 就业失业登记证号
              input.form-control(type="text", name="workRegisterId", placeholder="输入16位证号")
          if districtId.length == 10
            div(style="width: 55%; float: left;")
              .input-group
                span.input-group-addon &nbsp;&nbsp;&nbsp;地 址&nbsp;&nbsp;&nbsp;
                input.form-control(type="text", name="address", readonly="readonly", value=address, tabindex="-1")
            div(style="width: 45%; float: left;")
              .input-group
                span.input-group-addon &nbsp;&nbsp;&nbsp;行政区划代码&nbsp;&nbsp;&nbsp;&nbsp;
                input.form-control(type="text", name="districtId", readonly="readonly", value=districtId, tabindex="-1")
          else
            div(style="width: 55%; float: left;")
              .input-group
                span.input-group-addon &nbsp;&nbsp;&nbsp;地 址&nbsp;&nbsp;&nbsp;
                input.form-control(type="text", name="address", readonly="readonly", tabindex="-1")
            div(style="width: 45%; float: left;")
              .input-group
                span.input-group-addon &nbsp;&nbsp;&nbsp;行政区划代码&nbsp;&nbsp;&nbsp;&nbsp;
                input.form-control(type="text", name="districtId", placeholder="输入10位代码")

          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon &nbsp;&nbsp;&nbsp;学 历&nbsp;&nbsp;&nbsp;
              select.form-control(name="education")
                option 小学及以下
                option 初中
                option 高中
                option 中专中技
                option 大专
                option 本科及以上
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 毕业时间
              input.form-control(type="text", name="graduateDate", placeholder="输入毕业年份")
          div(style="width: 34%; float: left;")
            .input-group
              span.input-group-addon 联系电话
              input.form-control(type="text", name="phone", placeholder="输入联系电话")
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 户口性质
              select.form-control(name="censusRegisterType")
                option 农业户口
                option 非农业户口
          div(style="width: 33%; float: left;")
            .input-group
              span.input-group-addon 政治面貌
              select.form-control(name="politicalOutlook")
                option 群众
                option 中共党员
                option 团员
                option 民主人士
                option 其他
          div(style="width: 34%; float: left;")
            .input-group
              span.input-group-addon 婚姻状况
              select.form-control(name="marriage", placeholder="是否结婚")
                option 已婚
                option 未婚
        .col-sm-3
          img.img-thumbnail(src="#", alt="- - 正面免冠照片 - -", style="height:170px;")
        .col-sm-12
          br
        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 劳动技能信息
            .panel-body
              .col-sm-12
                .input-group
                  span.input-group-addon 职业培训
                  select.form-control(name="trainingType")
                    option 无
                    option 职业培训
                    option 创业培训
                    option 企业高技能人才培训
                  span.input-group-addon 培训项目
                  input.form-control(type="text", name="postTraining", readonly="readonly", list="courses", placeholder="输入培训名称")
                  //datalist#courses
                    option 服装缝纫
                    option 制鞋
                    option 电子技术
                    option 电脑
                    option 家电维修
                    option 电工
                    option 焊工
                    option 数控车床
                    option 家政服务
                    option 保安
                    option 烹饪
                    option 服务员
                    option 美容美发
                    option 商业营销
                  span.input-group-addon 国家职业资格证书
                  select.form-control(name="technicalGrade")
                    option 无
                    option 初级技工
                    option 中级技工
                    option 高级技工
                    option 技师
                    option 高级技师

        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 已享受就业服务
            .panel-body
              each v, k in builtinService
                .col-sm-3
                  label.checkbox-inline= v
                    input(type="checkbox", name='postService'+k)
              .col-sm-12
                br
                .input-group
                  span.input-group-addon 已享受其他服务
                  input.form-control(type="text", name="extraPostService", placeholder="输入服务名称，可输入多项，用逗号隔开")

        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 个人就业信息
            .panel-body
              include jobSpec.jade

        .col-sm-12
          .panel.panel-default
            .panel-heading.text-center
              strong 参加社会保险信息（多选）
            .panel-body
              each v, k in insurance
                .col-sm-4
                  label.checkbox-inline= v
                    input(type="checkbox", name='insurance'+k)

      .panel-footer
        .container
          .col-sm-3.col-sm-offset-1
            .input-group
              span.input-group-addon 填报人
              input.form-control(type="text", name="editor", required="required", placeholder="姓名")
          .col-sm-2
          .col-sm-4
            .input-group
              span.input-group-addon 填报日期
              input.form-control(type="text", name="registerDate", disabled="disabled", tabindex="-1", placeholder="填报日期")
          .col-sm-10
            br
          .col-sm-7.col-sm-offset-2
            button.btn.btn-lg.btn-block.btn-primary(type="submit", role="button") 保存登记表

          .col-sm-12.text-center
            br
          .col-sm-11.text-center#errorMessage(style="color: red;")
            p
  script(src="/javascripts/item.js")