.row
  .col-sm-3.col-sm-offset-3.text-center
    label.radio-inline <strong>已就业信息</strong>
      input(type="radio", name="employment", value="已就业", checked="checked")
  .col-sm-3.text-center
    label.radio-inline <strong>暂未就业信息</strong>
      input(type="radio", name="employment", value="暂未就业")
br
.col-sm-12#employment
  .panel.panel-default
    .panel-heading.text-center
      strong 已就业信息
    .panel-body
      .col-sm-12
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;就业单位&nbsp;&nbsp;&nbsp;&nbsp;
            input.form-control(type="text", name="employer", placeholder="在此输入就业单位或组织")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 主要从事工种
            select.form-control(name="jobType")
              //each val, key in jobType
                option(value=key)= val
              each val, key in jobType
                optgroup(label=key+'类')
                  each v, k in val
                    option(value=k)= v
      .col-sm-12
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 从事产业类型
            select.form-control(name="industry")
              option 第一产业
              option 第二产业
              option 第三产业
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;就业时间&nbsp;&nbsp;&nbsp;&nbsp;
            input.form-control(type="text", name="startWorkDate", placeholder="格式为（年月日）：YYYYMMDD")

        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;就业地点&nbsp;&nbsp;&nbsp;&nbsp;
            select.form-control(name="workplace")
              option 县内
              option 县外市内
              option 市外省内
              option 外省
              option 境外
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;外出省份&nbsp;&nbsp;&nbsp;&nbsp;
            select.form-control(name="workProvince", disabled="disabled")
              each value, key in province
                option= value
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 年收入 (万元)
            input.form-control(type="text", name="salary")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;就业形式&nbsp;&nbsp;&nbsp;&nbsp;
            select.form-control(name="jobForm")
              option 灵活就业
              option 企业
              option 个体工商
              option 机关事业单位
              option 自主创业
              option 公益性岗位
              option 务农
              option 其他

.col-sm-12#unemployment
  .panel.panel-default
    .panel-heading.text-center
      strong 暂未就业信息
    .panel-body
      .col-sm-12
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 人员身份
            select.form-control(name="humanCategory")
              option 纯农户农民
              option 返乡农民工
              option 高校毕业生
              option 复员军人
              option 待业失业人员
              option 其他
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;&nbsp;失业时间&nbsp;&nbsp;&nbsp;
            input.form-control(type="text", name="unemployedDate", placeholder="格式为（年月日）：YYYYMMDD")
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 失业原因
            select.form-control(name="unemploymentCause")
              option 其他符合失业登记条件
              option 从各类学校毕业、肄业
              option 从企业、机关、事业单位等各类用人单位失业
              option 个体工商户业主或者私营企业业主停业、破产停止经营
              option 承包土地被征用并符合规定条件
              option 军人退出现役且未纳入国家统一安置
              option 刑满释放、假释、监外执行或解除劳动教养
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 困难群体情况
            select.form-control(name="familyType")
              option 其他
              option 4050人员
              option 零就业家庭
              option 城市低保人员
              option 身体残疾人员
              option 失地农民
              option 军队退役人员
              option 烈士家属
              option 抚养未成年子女单亲家庭

      .col-sm-12
        br
      .col-sm-12
        .panel.panel-default
          .panel-heading.text-center
            | 就业工种意向
          .panel-body
            div(style="width: 50%; float: left")
              .input-group
                span.input-group-addon 第一选择
                select.form-control(name="jobType01")
                  //each val, key in jobType
                    option(value=key)= val
                  each val, key in jobType
                    optgroup(label=key+'类')
                      each v, k in val
                        option(value=k)= v
            .div(style="width: 50%; float: left")
              .input-group
                span.input-group-addon 第二选择
                select.form-control(name="jobType02")
                  //each val, key in jobType
                    option(value=key)= val
                  each val, key in jobType
                    optgroup(label=key+'类')
                      each v, k in val
                        option(value=k)= v
      .col-sm-12
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 工资收入期望(年)
            input.form-control(type="text", name="preferredSalary")
            span.input-group-addon 万元
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业产业意向
            select.form-control(name="preferredIndustry")
              option 第一产业
              option 第二产业
              option 第三产业
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon &nbsp;&nbsp;&nbsp;就业区域意向&nbsp;&nbsp;&nbsp;
            select.form-control(name="preferredWorkplace")
              option 县内
              option 县外市内
              option 市外省内
              option 外省
              option 境外
        div(style="width: 50%; float: left")
          .input-group
            span.input-group-addon 就业形式意向
            select.form-control(name="preferredJobForm")
              option 机关事业单位
              option 企业
              option 个体工商
              option 灵活就业
              option 自主创业
              option 公益性岗位
              option 务农
              option 其他

      .col-sm-12
        br
      .col-sm-12
        .panel.panel-default
          .panel-heading.text-center
            | 就业服务需求（多选）
          .panel-body
            each v, k in builtinService
              .col-sm-3
                label.checkbox-inline= v
                  input(type="checkbox", name='preferredService'+k)
            .col-sm-12
              br
              .input-group
                span.input-group-addon 其他服务需求
                input.form-control(type="text", name="extraPreferredService", placeholder="输入服务名称，可输入多项，用逗号隔开")

      .col-sm-12
        .panel.panel-default
          .panel-heading.text-center
            | 培训需求意向
          .panel-body
            .col-sm-2
              label.radio-inline
                input(type="radio" name="preferredTraining", checked="checked")
                | 无
            .col-sm-3
              label.radio-inline
                input(type="radio" name="preferredTraining")
                | 职业培训
            .col-sm-3
              label.radio-inline
                input(type="radio" name="preferredTraining")
                | 创业培训
            .col-sm-3
              label.radio-inline
                input(type="radio" name="preferredTraining")
                | 企业高技能人才培训
