extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/signin.css")
  //link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  //h1= title
  include nav.jade
  .container
    .panel.panel-info
      .panel-heading
        //.container
        h1.text-center 人数统计
      .panel-body
        .col-sm-4.col-sm-offset-4.text-center
          h3
            strong= county['name']
            br
          h4
            strong= '当前总人数： ' + county['total']
        .col-sm-12
          hr
        table.table.table-condensed.table-striped
          thead
            td 序号
            td 行政区划代码
            td 乡镇/办事处
            td 村/社区
            td 人数
          each item, row in statistics
            if item[0].length == 8
              tr(style="font-size: 1.2em;")
                td
                  strong= row + 1
                td
                  strong= item[0]
                td
                  strong= item[1]
                td
                  strong= item[2]
                td
                  strong= item[3]
            else
              tr
                td= row + 1
                td= item[0]
                td= item[1]
                td= item[2]
                td= item[3]