extends layout
block content
  //link(rel="stylesheet" href="/stylesheets/navbar-fixed-top.css")
  include nav.jade
  //h1.text-center= title
  //ul
    each val, index in data
      li= index + ' = ' + val
  .panel.panel-default
    .panel-heading.text-center
      h1= title
    table.table.table-condensed.table-bordered.table-hover.table-responsive
      thead
        tr
          th 序号
          each val, key in columns
            th= cnItemName[val]
        tbody
          each item, row in data
            tr
              td= row + 1
              each index in columns
                td= item[index]
